<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqtoSQLConsole.Properties.Settings.MSOPSConnectionString"
            connectionString="Data Source=.;Initial Catalog=MSOPS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>